@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
Например header__container, main__container і т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.sky {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  -webkit-animation: sky 500s infinite linear alternate;
          animation: sky 500s infinite linear alternate;
}

.earth {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3.125rem;
  -webkit-animation: earth 100s infinite linear alternate;
          animation: earth 100s infinite linear alternate;
}

.star {
  will-change: transform;
  width: 0.1875rem;
  height: 0.1875rem;
  background-color: #fff;
  border-radius: 50%;
}

.star--type-0 {
  -webkit-animation: star-0 5s infinite ease alternate, opacity 2s infinite linear alternate, color 30s infinite ease alternate;
          animation: star-0 5s infinite ease alternate, opacity 2s infinite linear alternate, color 30s infinite ease alternate;
}

.star--type-1 {
  animation: star-1 8s infinite ease alternate-reverse, opacity 2s infinite linear alternate-reverse, color 30s infinite ease alternate-reverse;
}

.star--type-2 {
  -webkit-animation: star-1 12s infinite ease alternate, opacity 4s infinite linear alternate, color 20s infinite ease alternate;
          animation: star-1 12s infinite ease alternate, opacity 4s infinite linear alternate, color 20s infinite ease alternate;
}

@-webkit-keyframes earth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes earth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes star-0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes star-0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes star-1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes star-1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@-webkit-keyframes star-2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star-2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes color {
  0% {
    background-color: #fff;
  }

  25% {
    background-color: #f8baba;
  }

  50% {
    background-color: #f0fabd;
  }

  75% {
    background-color: #c7cffa;
  }
}

@keyframes color {
  0% {
    background-color: #fff;
  }

  25% {
    background-color: #f8baba;
  }

  50% {
    background-color: #f0fabd;
  }

  75% {
    background-color: #c7cffa;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes sky {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes sky {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}